.user-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.chat-messages {
  width: 60%;
  height: 70%;
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.bot-message {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-start;
  animation: appear 2s ease;
}

.user-message {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  align-self: flex-end;
  animation: appear 0.5s ease;
}

p {
  background-color: #444;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 16px;
  max-width: 80%;
}

input[type="text"] {
  width: 60%;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 20px;
}

button {
  width: 20%;
  height: 50px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #777;
}

button:active {
  transform: translateY(3px);
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
  background-color: #444;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color: #777;
}

a:hover {
  background-color: #555;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}